
</script>
    <script type="text/javascript" src="/javascripts/vendor/assets/javascripts/bigtext.js" ></script>
    <script type="text/javascript" src="/javascripts/vendor/assets/javascripts/flexslider1.7/jquery.flexslider.js" ></script>
    <script type="text/javascript" src="/javascripts/app/views/app_templates.js" ></script>
    <script type="text/javascript" src="/javascripts/themes/d4shelf/assets/javascripts/templates.js" ></script>
    <script type="text/javascript" src="/javascripts/app/client/initialize.js" ></script>
    <script type="text/javascript" src="/javascripts/vendor/assets/javascripts/jqueryui.nestedSortable.js" ></script>
    <script type="text/javascript" src="/javascripts/vendor/assets/javascripts/jmd/showdown.js" ></script>
    <script type="text/javascript" src="/javascripts/vendor/assets/javascripts/jmd/jquery.markedit.js" ></script>
    <script type="text/javascript" src="/javascripts/lib/rituwall/support/facebook.js" ></script></body></html>